/* 
 Name: Sameeha Thanwey
 File: stylesheet.css
 Date Created: 05/06/2026
 Date Updated: 05/08/2026
 Purpose: Style sheet for MIS 3371 HW1
 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Roboto:wght@400;500&display=swap');

/* This section is the make the Header in view at all times*/

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #d9ead3;
    border-bottom: 2px solid #0563a4;
    z-index: 1000;
    padding: 10px;
}

/* background color*/
body
{
    background-color: #d9ead3ff;
    font-family: 'Roboto', sans-serif;
    color: #0563a4;
    padding-top: 170px;
}
 
/*Title font and color*/

h1
{
   font-size: xxx-large;
   font-family: 'Monsterrat', sans-serif;
   color: #0563a4;
}

/* adjust logo size*/ 
#logo 
{
    width: 350px;     
    height: auto;    
}

#reviewArea 
{
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #ccc;
}     

span.error 
{
  color: red !important;
}

#submit:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
